# Database
DATABASE_URL = postgres://username:password@host:port/name

# Auth
BETTER_AUTH_SECRET= <better-auth-secret> -> you can generate one by npx auth secret
BETTER_AUTH_URL= # Base URL of your app

# Email Service
RESEND_API_KEY= re_********** (obtain it from resend after login)